norfair==2.2.0
numpy==1.22.0
onnx==1.16.1
onnxruntime==1.16.3
opencv_contrib_python==4.8.1.78
opencv_python==4.8.1.78
scipy==1.14.0
simple_romp==1.1.3
smplx==0.1.28
torch==1.10.0
visualization==1.0.0
wget==3.2
